<header>
  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=KoHo|Major+Mono+Display|Merriweather|Montserrat|Open+Sans+Condensed:300|Oswald|Pacifico|Roboto+Mono|Roboto+Slab|Slabo+27px" rel="stylesheet">
  <!-- CSS File -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Viewport Meta Tag, used for handling width on diff devices -->
  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  <!-- font-awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  <!-- Head section of the navbar -->
  <div class="navhead">

    <div class="row">
      <!--<h1>{{screamIt 'Hiefield'}}</h1>-->
      <div class="social-icons col-xs-12">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github"></i>
      </div>


      <div class="nav-title col-xs-12">
        <div id="PageTitle">
            <h1>Hiefield.io</h1>
        </div>
      </div>
    </div>
  
  </div>


<div class="header container-fluid">
  <!-- Body section of the nav bar -->
  <div class="navbody">
    <h3>{{pageName}}</h3>
    <p>
      
    </p>
    <div class="row">
      <div class="col-md-1">
        <a href='/'>Home</a>
      </div>
      <div class="col-md-1">
        <a href='/about'>About</a>
      </div>
      <div class="col-md-1">
        <a href='/projects'>Projects</a>
      </div>
    </div>
    </div>
  
</div>
</header>
