<header>
  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=KoHo|Major+Mono+Display|Merriweather|Montserrat|Open+Sans+Condensed:300|Oswald|Pacifico|Roboto+Mono|Roboto+Slab|Slabo+27px" rel="stylesheet">
  <!-- CSS File -->
  <link rel="stylesheet" href="../css/main.css">
  <!-- Viewport Meta Tag, used for handling width on diff devices -->
  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  <!-- font-awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  <!-- Head section of the navbar -->
  <div class="navhead">

    <div class="row">
      <!--<h1>{{screamIt 'Hiefield'}}</h1>-->
      <div class="social-icons col-xs-12">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-github"></i>
      </div>


      <div class="nav-title col-xs-12">
        <div id="PageTitle">
            <h1>Hiefield.io</h1>
        </div>
      </div>

      
    </div>
  
  </div>


<div class="header container-fluid">
  <div class="row main-portion">


    <div class="side-nav col-xs-6">
      <!-- Body section of the nav bar -->
      <div class="navbody">
        <h3>{{pageName}}</h3>
        <p>
          
        </p>
        <div class="row">
          <div class="col-md-1">
            <a href='/'>Home</a>
          </div>
          <div class="col-md-1">
            <a href='/notes'>Notes</a>
          </div>
          <div class="col-md-1">
            <a href='/about'>About</a>
          </div>
          <div class="col-md-1">
            <a href='/projects'>Projects</a>
          </div>
        </div>
        </div>
    </div>

    <div class="main-body col-xs-12">
    <h1> This is the main body </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed velit dignissim sodales ut eu. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Nunc consequat interdum varius sit amet mattis vulputate. Turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet. Purus sit amet luctus venenatis. Posuere lorem ipsum dolor sit amet consectetur. Et ultrices neque ornare aenean euismod elementum nisi. Eu feugiat pretium nibh ipsum consequat nisl. Integer malesuada nunc vel risus. Rutrum quisque non tellus orci ac auctor augue mauris augue. Elit scelerisque mauris pellentesque pulvinar pellentesque.

Praesent semper feugiat nibh sed. Adipiscing diam donec adipiscing tristique risus nec. Convallis posuere morbi leo urna molestie. Nibh tortor id aliquet lectus. Nisl purus in mollis nunc sed id semper risus in. Et egestas quis ipsum suspendisse ultrices gravida dictum. Amet justo donec enim diam vulputate ut pharetra sit amet. Convallis a cras semper auctor neque vitae tempus. Sit amet massa vitae tortor condimentum lacinia. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Aenean pharetra magna ac placerat. Nisl pretium fusce id velit. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Praesent elementum facilisis leo vel fringilla est. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Varius sit amet mattis vulputate enim nulla aliquet porttitor. Venenatis a condimentum vitae sapien. Neque egestas congue quisque egestas diam in arcu cursus euismod.

Tempus iaculis urna id volutpat lacus laoreet non. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Eu augue ut lectus arcu bibendum at varius vel. Nec feugiat nisl pretium fusce id velit ut tortor. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Ut sem viverra aliquet eget sit. Purus non enim praesent elementum facilisis leo vel. Placerat orci nulla pellentesque dignissim. Tincidunt augue interdum velit euismod in pellentesque massa placerat duis. Et netus et malesuada fames ac turpis egestas. Purus semper eget duis at tellus. Quisque egestas diam in arcu cursus euismod quis viverra nibh. Urna porttitor rhoncus dolor purus. Lorem ipsum dolor sit amet consectetur adipiscing elit. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Sed viverra ipsum nunc aliquet bibendum. At in tellus integer feugiat scelerisque.

Elit pellentesque habitant morbi tristique senectus et netus et malesuada. Sed vulputate mi sit amet mauris. Cursus risus at ultrices mi. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Lacinia at quis risus sed vulputate. Pretium fusce id velit ut tortor pretium. Nulla pharetra diam sit amet nisl suscipit. At lectus urna duis convallis convallis tellus. Lectus quam id leo in vitae turpis massa. Ultricies integer quis auctor elit sed vulputate mi sit amet. Eget velit aliquet sagittis id consectetur. Facilisis volutpat est velit egestas dui id ornare arcu. In mollis nunc sed id semper risus. Lectus vestibulum mattis ullamcorper velit sed ullamcorper.

Commodo viverra maecenas accumsan lacus vel facilisis volutpat. At in tellus integer feugiat. Nisi porta lorem mollis aliquam ut porttitor. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Arcu risus quis varius quam quisque id diam vel quam. Eget magna fermentum iaculis eu non. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Metus aliquam eleifend mi in. Augue ut lectus arcu bibendum at varius vel. Cras semper auctor neque vitae tempus quam pellentesque. Dui sapien eget mi proin sed libero enim. Bibendum neque egestas congue quisque egestas diam in arcu. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Maecenas volutpat blandit aliquam etiam erat. Porttitor massa id neque aliquam vestibulum morbi. Odio tempor orci dapibus ultrices in iaculis nunc sed. Viverra orci sagittis eu volutpat odio facilisis. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce.</p>

    </div>



  </div>
  
  </div>
</header>


