<header>
<div id="main-heading">
  <h1>{{screamIt 'snodash'}}</h1>
  <h3>{{pageName}}</h3>
  <p>
    Snow tracking at your home away from home.
  </p>
  <a href='/about'>About</a>
  <a href='/'>Home</a>
</div>
</header>
