<header>
  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Aleo|IBM+Plex+Mono|Lato|Noto+Serif+SC|Source+Sans+Pro|VT323" rel="stylesheet">
  <!-- CSS File -->
  <link rel="stylesheet" href="../../public/main.css">

<div id="main-heading">
  <h1>{{screamIt 'snodash'}}</h1>
  <h3>{{pageName}}</h3>
  <p>
    Snow tracking at your home away from home.
  </p>
  <a href='/about'>About</a>
  <a href='/'>Home</a>
</div>
</header>
