/* font-family: 'Major Mono Display', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'KoHo', sans-serif;
font-family: 'Pacifico', cursive; */

.navhead {
    /* padding-left: 5%;
    padding-right: 5%; */
    margin: auto;
    text-align: center;
    background: black;
}
.navhead:hover {
    cursor: crosshair;

}

.social-icons {
    font-size: 48px;
    color: whitesmoke;
    float: auto;
    display: inline-block;
    width: auto;
}
.nav-title {
    display: inline-block;
    text-align: center;
    width: auto;
}
.fa:hover {
    color: #4A4A4A;
    cursor: crosshair;
}

#PageTitle {
    margin: auto;
    color: whitesmoke;
    /* outline: 5px solid black; */
    font-family: 'Pacifico', sans-serif;
}



.navbody {
    font-family: 'KoHo', sans-serif;
    outline: solid 5px black;
    background: #F5F5F5;
    /* margin-right: 5%;
    margin-left: 5%; */
}

footer {
    font-family: 'Montserrat', sans-serif;
    background: black;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

#footer {
    color: whitesmoke;
}