/* font-family: 'Major Mono Display', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'KoHo', sans-serif;
font-family: 'Pacifico', cursive; */

.navhead {
    padding-left: 1%;
    /* padding-right: 5%; */
    /* margin: auto; */
    text-align: center;
    background: #525252;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navhead:hover {
    cursor: crosshair;

}

.social-icons {
    font-size: 48px;
    color: whitesmoke;
    float: auto;
    display: inline-block;
    width: auto;
}
.nav-title {
    /* padding-left: 5%; */
    display: inline-block;
    text-align: center;
    width: auto;
    margin: auto;
}

.fa {
    margin: 5px;
}
.fa:hover {
    color: #303030;
    cursor: crosshair;
}

#PageTitle {
    margin: auto;
    color: whitesmoke;
    /* outline: 5px solid black; */
    font-family: 'Pacifico', sans-serif;
}

#PageName {
    
}


.side-nav {
    
}





footer {
    font-family: 'Montserrat', sans-serif;
    background: black;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

#footer {
    color: whitesmoke;
}



